/* set the height of the html document to the view port, set font */
html,
body {
    height: 100vh;
    font-family: 'Roboto', Helvetica, sans-serif;
    /* background-color: #1F2937; */
    margin: 0;
}

/* style head of the document, includes group selecting of elements from the top line and main line of the header*/
.head {
    display: flex;
    flex-direction: column;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 14px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.head-top,
.head-main {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.link,
.subtext,
#image-box {
    font-size: 18px; 
    color: #E5E7EB;
}

/* style the top line of the header */
.head-top {
    margin-bottom: 100px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    gap: 24px;
}

#head-logo {
    font-size: 24px;
}

#header-link-one {
    margin-left: auto;
}

/* style the main line of the header */
.head-text {
    padding-right: 34px;
}

#title {
    font-size: 62px;
    font-weight: 900;
    margin-bottom: 40px;
}

.subtext {
    line-height: 29px;
}

/* style image in head */
#compound {
    width: 650px;
    height: auto;
}

#image-box {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}


/* style information section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 25px;
}

#title2 {
    font-size: 40px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 80px;
    margin-bottom: 80px;
}

.image-tag {
    font-size: 24px;
    padding: 18px;
}


/* style quote section */
#quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 112px;
}

#quote {
    font-size: 26px;
    font-style: italic;
    color:#060f29e0;
    line-height: 40px;
    margin-bottom: 20px;
}

#author {
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

/* style banner - call to action section */
.banner {
    display: flex;
    align-items: center;
    margin: 200px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    padding-right: 100px;
    padding-left: 100px;
    gap: 18px;
}

#call {
 color: #F9FAF8;
 margin-right: auto;
}

#call-head {
    font-size: 22px;
    font-weight: bold;
}

button {
    margin-top:14px;
    padding: 12px;
    border-style: solid;
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 20px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
}

/* style footer section */
.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
}